In [57]:
import pandas as pd
import numpy as np
import RiskAdjustedMetrics as rm
%matplotlib notebook 
df=pd.read_csv('/Users/gfuganti/Downloads/Database.csv', delimiter =',', header=0, encoding = "ISO-8859-1", parse_dates=[6])

#adjust data types
df['DATE']=df['DATE'].astype('datetime64[ns]')
df['INDEX_SERIES_GROSS']=df['INDEX_SERIES_GROSS'].astype('float64')
df['INDEX_SERIES_NET']=df['INDEX_SERIES_NET'].astype('float64')
df['BM_SERIES_INTERN']=df['BM_SERIES_INTERN'].astype('float64')

#transform the db into a matrix
ptf=df.pivot(index='DATE', columns='SPOK_ID', values='INDEX_SERIES_GROSS')

bmk=df.pivot(index='DATE', columns='SPOK_ID', values='BM_SERIES_INTERN')

#forward fill NaN
for column in ptf:
    ptf[column]=ptf[column].fillna(method='pad')
    bmk[column]=bmk[column].fillna(method='pad')

#print(ptf)



#find the first date for each series 
first_dates = df1.apply(lambda series: series.first_valid_index())

first_dates[1639]

#for column in df1:
#    print (df1[column].name)

Timestamp('2014-07-31 00:00:00')

In [60]:
for i ,row in first_dates.groupby('SPOK_ID').size().iteritems():
    print(first_dates[i].value.astype('datetime64[ns]'))

AttributeError: 'int' object has no attribute 'astype'

In [ ]:
df1.loc

In [20]:
df2=pd.DataFrame(df1[163587])
#df2.rename(63)
#df2['logreturn']=np.log(df.Portfolio).diff()
df2['ptf']=df2[163587].fillna(method='bfill')#.plot(figsize=[10,5])
df2['logreturn']=np.log(df2.ptf).diff()
df3=pd.DataFrame(df2.logreturn['2015-12-31':'2017-7-31'])
df3
#df2['series'] = 100*np.exp(np.nan_to_num(df2.logreturn[2016-1-1:].cumsum()))
#df2['series'].plot()
#100*np.exp(np.nan_to_num(df2['logreturn']).cumsum())
#df2.series[2015-12-31:]
#df2.series.plot()

            logreturn
DATE
2015-12-31  -0.000067
2016-01-01   0.002685
2016-01-04   0.000000
2016-01-05   0.001211
2016-01-06  -0.001823
2016-01-07   0.000000
2016-01-08   0.002059
2016-01-11  -0.001869
2016-01-12  -0.000456
2016-01-13   0.001569
2016-01-14  -0.000902
2016-01-15   0.001814
2016-01-18  -0.000919
2016-01-19   0.000314
2016-01-20  -0.000588
2016-01-21   0.002890
2016-01-22  -0.000600
2016-01-25   0.000433
2016-01-26   0.001990
2016-01-27   0.000291
2016-01-28   0.001679
2016-01-29   0.004739
2016-02-01  -0.001849
2016-02-02   0.000280
2016-02-03   0.001927
2016-02-04  -0.001736
2016-02-05  -0.000198
2016-02-08  -0.000099
2016-02-09  -0.001177
2016-02-10   0.001079
...               ...
2017-06-20   0.001266
2017-06-21   0.000552
2017-06-22   0.000153
2017-06-23   0.000100
2017-06-26   0.000000
2017-06-27  -0.005299
2017-06-28  -0.000097
2017-06-29  -0.004498
2017-06-30  -0.000412
2017-07-03   0.000335
2017-07-04   0.000803
2017-07-05  -0.000180
2017-07-06  -0.004685
2017-07-07  -0.001478
2017-07-10   0.001540
2017-07-11  -0.001439
2017-07-12   0.002572
2017-07-13  -0.001523
2017-07-14   0.002150
2017-07-17   0.000000
2017-07-18   0.001180
2017-07-19   0.001256
2017-07-20   0.000910
2017-07-21   0.001827
2017-07-24   0.000719
2017-07-25  -0.003139
2017-07-26   0.000510
2017-07-27   0.001121
2017-07-28  -0.000592
2017-07-31   0.001000

[413 rows x 1 columns]

In [13]:
df3.dtype

dtype('float64')

NameError: name 'test_risk_metrics' is not defined